.home-repo img{
    float: left;
    clear: none;
    width: 10%;
    margin: 5%;
}

.home-repo div{
    float: left;
    padding: 2%;
    width: 76%;
    overflow: hidden;
}

.home-repo {
    border: 1px solid ghostwhite;
    min-height: 200px;
    margin-top: 20px;
    overflow: hidden;
}